<<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>BreakPoint:an application for data-collection on income elasticity in Kigali</title>
  </head>
  <body>
    <div class=logo>
      <h1>BREAKPOINT</h1>
        <h2>moto micro-insurance</h2>
        <img src="/images/motorcycle.png" alt="BreakPoint logo" class="logopic">
      </div>
    <div class=startbox>
    <h3>Market Research Test</h3>
    <form action="" method="post">
        <input type="text" name="candidatename" placeholder="Name/Nom/Izina">
        <input type="submit" name="submit" value="Submit" >
    </form>
      <button>Anonymous entry</button>
      </div>
      <script src="scripts/main.js"></script>
  </body>
</html>
