<<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <title>BreakPoint:an application for data-collection on income elasticity in Kigali</title>
  </head>
  <body>
    <div class="wrapper">
      <div class=box id="left_side">
        <h1>BREAKPOINT</h1>
        <h2>moto micro-insurance</h2>
        <%= image_tag "motorcycle.png", alt:"BreakPoint logo", class:"logopic"%>
      </div>
      <div class="box" id="right-side">
        <div class=container>
          <h3>Market Research Test</h3>
          <input type="text" name="candidatename" placeholder="Name/Nom/Izina" id="name">
          <input type="button" value="Submit" class="button" id="submit">
          <input type="button" value="Anonymous Entry" class="button" id="anonymous">
        </div>
      </div>
    </div>
  </body>
</html>
